@use 'variables';

* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: variables.$font;
    font-weight: normal;
    font-size: 1em;
    color: variables.$black;
    list-style: none;
    text-decoration: none;
}

:root {
    --second-color: #80c5af;
    --red-color: #c97e7e;
}

/*FONT*/
body {
    font-size: 25px;
    background-color: variables.$second-color;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-weight: 700;
    font-size: 28px;
}

h2 {
    font-weight: 700;
    font-size: 20px;
}


/*BUTTON*/

button {
    width: 100%;
    padding: 10px 10px;

    color: variables.$white;
    background-color: variables.$main-color;
    box-shadow: variables.$box-shadow 4px 4px 4px 0;

    cursor: pointer;
    transition: 0.5s;
}

button:hover {
    transform: scale(0.97);
    background-color: variables.$main-color-dark;
}


/*MAIN PAGE*/
header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:20px;

    width: 80%;

    padding: 30px 0 50px;

    background-color: variables.$white;
    box-shadow: variables.$box-shadow 4px 4px 4px 0;

    transform: translateY(-120px);
    transition: 2s ease;

    cursor: pointer;
}

header:hover {
    transform: translateY(0px);
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin: 30px auto 100px;

    section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 30px;

        .section-game {
            position: relative;

            .response-status {
                display: none;
                justify-content: center;
                align-items: center;

                position: absolute;
                top: 50px;
                z-index: 1;

                width: 50px;
                height: 50px;
                background-color: variables.$main-color;

                border-radius: 100%;
                border: 2px solid variables.$white;
                box-shadow: variables.$box-shadow 4px 4px 4px 0;

                i {
                    color: white;
                }
            }

            .container-card {
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 400px;
                height: 500px;
    
                border-radius: 20px;
    
                background-color: variables.$white;
                box-shadow: variables.$box-shadow 4px 4px 4px 0;
    
                transition: 0.3s;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    border-radius: 20px;
                }
            }
    
            .container-button {
                display: flex;
                flex-direction: row;
                gap: 20px;
                justify-content: space-between;
    
                width: 100%;
            }
        }
    }

}


//ANIMATION
.animate-pass {
    animation: pass 0.25s ease-in-out;
}

.animate-response {
    animation: response 0.4s ease-in-out;
}

@keyframes pass {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
        transform: translateX(-110px);
    }
}

@keyframes response {
    0% {
        opacity: 0;
        transform: scale(0.8);
    }

    50% {
        opacity: 1;
        transform: scale(1);
    }

    70% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}